.gwt-Button {
	padding: 3px 5px 3px 5px;
	FONT-SIZE: small;
	MARGIN: 0px;
	CURSOR: hand;
	TEXT-DECORATION: none
}

.highlight {
	border: outset 1px red !important;
}

.normal {
	border: outset 1px #ccc !important;
}


.gwt-Button-highlight {
	border: outset 1px red !important;
}

.gwt-Button-normal {
	border: outset 1px #ccc !important;
}